<div class="nav toggle">
  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
</div>


<ul class="nav navbar-nav navbar-right">
  <div class="col-md-3 col-sm-5 col-xs-12 form-group-summ pull-right top_search">
    <div class="input-group">
      <input class="form-control" placeholder="Summoner Name..." type="text">
      <span class="input-group-btn">
        <button class="btn btn-default" type"button">Go!</button>
      </span>
    </div>
  </div>
</ul>
